.App{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.FormList{
   display: flex;
   flex-direction: column;
   row-gap: 30px;
}
.title{
    font-size: 35px;
}
.delete-icon{
    cursor: pointer;
}